@{
    ViewData["Title"] = ViewBag.Description;
}

<div style="text-align:center;margin-top:50px;">
    <img src="~/images/logo.png" style="height:100px;" />
    <p><h3>RuoYi.Net</h3></p>
    <p>@ViewBag.Description</p>
    <p><a href="/swagger-ui">API 接口</a></p>
</div>